.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado {
    max-width: 80rem;
}
.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}
.titulo-regular{
    font-weight: $regular;
}
.dark-mode{
    background-color: $grisOscuro;
    color: $blanco;
    p{
        color: $blanco;
    }
    .entrada-blog{
        border-bottom: 2px solid lighten($grisOscuro, 10) ;
    }
    .anuncio{
        background-color: lighten($grisOscuro, 20);
        .contenido-anuncio {
            .precio {
                color: lighten($color: $verde, $amount: 50);
            }
        }
    }
    h1, h2, h3, .titulo-blog{
        color: $blanco;
    }
    .footer, .header{
        background-color: darken($grisOscuro, 3);
    }
    li{
        img{
            filter: invert(100%);
        }
    }
    .formulario{
        legend, p{
            color: $blanco;
        }
    }
    .informacion-meta{
        span{
            color: lighten($marron, 20);
        }
    }
    .texto-entrada{
        h4{
            &::after{
                content: '';
                display: block;
                width: 40%;
                height: .5rem;
                background-color: lighten($verde, 15);
            }
        }
        span{
            color: lighten($marron, 20);
        }
    }
}
.btn-volver{
    display: none;
    @include tablet{
        display: block;
    }
}
.orden-titulo{
    @include tablet{
        display: flex;
        align-items: center;
        gap: 15rem;
    }
    @include desktop{
        gap: 38rem;

    }
}
